@model ClientIndexViewModel
@{
    ViewBag.Title = "Таблица клиентов";
}
<script>
    function changeAddVisibility() {
        document.getElementById('UpdateClient').style.display = "none";
        document.getElementById('AddClient').style.display = "block";
    }
    function changeUpdateVisibility(id) {
        document.getElementById('UpdateClient').style.display = "block";
        document.getElementById('AddClient').style.display = "none";
        $("#id").val(id);
    }
    function SetSession() {
        sessionStorage.setItem("address", $("#value1").val());
        sessionStorage.setItem("filterRepresFIO", $("#value2 option:selected").val());
    }
    function GetSession() {
        $("#value1").val(sessionStorage.getItem("address"));
        $("#value2").val(sessionStorage.getItem("filterRepresFIO"));
    }
</script>

<H1>@ViewBag.Title:</H1>
<body onbeforeunload="SetSession()" onload="GetSession()">
    <form method="get">
        <div>
            <label class="control-label">Адрес:&nbsp;</label>
            <input name="address" id="value1" class="form-control" />
        </div>
        <div>
            <label class="control-label">ФИО представителя:&nbsp;</label>
            <select name="filterRepresFIO" id="value2" class="form-control">
                @foreach (var elem in Model.FilterRepresFIOs)
                {
                    <option>@elem</option>
                }
            </select>
        </div>
        <br />
        <div>
            <input type="submit" value="Фильтр" class="btn btn-default" />
        </div>
    </form>
    <br />
    <table border="1" style="left:10%;">
        <thead>
            <tr>
                <td>
                    <a asp-action="Index" asp-route-type="Id">Id</a>
                </td>
                <td>
                    <a asp-action="Index" asp-route-type="name">Название</a>
                </td>
                <td>
                    <a asp-action="Index" asp-route-type="fio">ФИО представителя</a>
                </td>
                <td>
                    <a asp-action="Index" asp-route-type="numb">Номер</a>
                </td>
                <td>
                    <a asp-action="Index" asp-route-type="addr">Адрес</a>
                </td>
            </tr>
        </thead>
        @foreach (var elem in Model.Clients)
        {
            <tr>
                <td>
                    @if (User.IsInRole("Администратор"))
                    {
                        <input type="button" class="btn-default" style="border:hidden; width:100%; background-color: rgba(0,100,0,0.9); color:white;" value="@elem.Id" onclick="changeUpdateVisibility(@elem.Id)" />
                    }
                    else
                    {
                        @elem.Id
                    }
                </td>
                <td>
                    @elem.Name
                </td>
                <td>
                    @elem.RepresentativeFIO
                </td>
                <td>
                    @elem.Number
                </td>
                <td>
                    @elem.Address
                </td>
            </tr>
        }
    </table>
    <div>
        @if (Model.PageViewModel.HasPreviousPage)
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
               class="btn" style="border:2px solid white;">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Назад
            </a>
        }
        @if (Model.PageViewModel.HasNextPage)
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
               class="btn" style="border:2px solid white;">
                Вперед
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        }
    </div>
    <br />
    @if (User.IsInRole("Администратор"))
    {
        <div>
            <input type="submit" class="btn-default" value="Добавить запись" onclick="changeAddVisibility()" />
        </div>
        <hr />
        @ViewData["Message"]
        <div>
            <div id="AddClient" style="display:none;">
                @{await Html.RenderPartialAsync("_AddClient");}
            </div>
            <div id="UpdateClient" style="display:none;">
                @{await Html.RenderPartialAsync("_UpdateClient");}
            </div>
        </div>
    }
</body>