@model FurnitureIndexViewModel
@{
    ViewBag.Title = "Таблица мебели";
}
<script>
    function changeAddVisibility() {
        document.getElementById('UpdateFurniture').style.display = "none";
        document.getElementById('AddFurniture').style.display = "block";
    }
    function changeUpdateVisibility(id) {
        document.getElementById('UpdateFurniture').style.display = "block";
        document.getElementById('AddFurniture').style.display = "none";
        $("#id").val(id);
    }
    function SetSession() {
        sessionStorage.setItem("price", $("#value1").val());
        sessionStorage.setItem("material", $("#value2 option:selected").val());
    }
    function GetSession() {
        $("#value1").val(sessionStorage.getItem("price"));
        $("#value2").val(sessionStorage.getItem("material"));
    }
</script>

<body onbeforeunload="SetSession()" onload="GetSession()">
    <H1 style="margin-top:15px;">@ViewBag.Title:</H1>
    <form method="get">
        <div>
            <label class="control-label">Стоимость:&nbsp;</label>
            <input name="price" type="number" min="0" id="value1" class="form-control" />
        </div>
        <div>
            <label class="control-label">Материалы:&nbsp;</label>
            <select name="material" id="value2" class="form-control">
                @foreach (var elem in Model.FilterMaterials)
                {
                    <option>@elem</option>
                }
            </select>
        </div>
        <br />
        <div>
            <input type="submit" value="Фильтр" class="btn btn-default" />
        </div>
    </form>
    <br />
    <div>
        <table border="1">
            <thead>
                <tr>
                    <td>
                        <a asp-action="Index" asp-route-type="Id">Id</a>
                    </td>
                    <td>
                        <a asp-action="Index" asp-route-type="name">Название</a>
                    </td>
                    <td>
                        <a asp-action="Index" asp-route-type="descr">Описание</a>
                    </td>
                    <td>
                        <a asp-action="Index" asp-route-type="material">Материал</a>
                    </td>
                    <td>
                        <a asp-action="Index" asp-route-type="price">Цена</a>
                    </td>
                    <td>
                        <a asp-action="Index" asp-route-type="count">Количество</a>
                    </td>
                </tr>
            </thead>
            @foreach (var elem in Model.Furniture)
            {
                <tr>
                    <td>
                        @if (User.IsInRole("Администратор") || User.IsInRole("Работник фабрики"))
                        {
                            <input type="button" class="btn-default" style="border:hidden; width:100%; background-color: rgba(0,100,0,0.9); color:white;" value="@elem.Id" onclick="changeUpdateVisibility(@elem.Id)" />
                        }
                        else
                        {
                            @elem.Id
                        }
                    </td>
                    <td>
                        @elem.Name
                    </td>
                    <td>
                        @elem.Description
                    </td>
                    <td>
                        @elem.Material
                    </td>
                    <td>
                        @elem.Price
                    </td>
                    <td>
                        @elem.Count
                    </td>
                </tr>
            }
        </table>
    </div>
    <div>
        @if (Model.PageViewModel.HasPreviousPage)
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
               class="btn" style="border:2px solid white;">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Назад
            </a>
        }
        @if (Model.PageViewModel.HasNextPage)
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
               class="btn" style="border:2px solid white;">
                Вперед
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        }
    </div>
    <br />
    @if (User.IsInRole("Администратор") || User.IsInRole("Работник фабрики"))
    {
        <div>
            <input type="submit" class="btn-default" value="Добавить запись" onclick="changeAddVisibility()" />
        </div>
        <hr />
        @ViewData["Message"]
        <div>
            <div id="AddFurniture" style="display:none;">
                @{await Html.RenderPartialAsync("_AddFurniture");}
            </div>
            <div id="UpdateFurniture" style="display:none;">
                @{await Html.RenderPartialAsync("_UpdateFurniture");}
            </div>
        </div>
    }
</body>