@model FurnitureIndexViewModel
@{
    ViewBag.Title = "Таблица мебели";
}
<script>
    function changeAddVisibility() {
        document.getElementById('DeleteFurniture').style.display = "none";
        document.getElementById('UpdateFurniture').style.display = "none";
        document.getElementById('AddFurniture').style.display = "block";
    }
</script>
<script>
    function changeDeleteVisibility() {
        document.getElementById('DeleteFurniture').style.display = "block";
        document.getElementById('UpdateFurniture').style.display = "none";
        document.getElementById('AddFurniture').style.display = "none";
    }
</script>
<script>
    function changeUpdateVisibility() {
        document.getElementById('DeleteFurniture').style.display = "none";
        document.getElementById('UpdateFurniture').style.display = "block";
        document.getElementById('AddFurniture').style.display = "none";
    }
</script>

<H1>@ViewBag.Title:</H1>
<div>
    <table border="1">
        <thead>
            <tr>
                <td>
                    Id
                </td>
                <td>
                    Название
                </td>
                <td>
                    Описание
                </td>
                <td>
                    Материал
                </td>
                <td>
                    Цена
                </td>
                <td>
                    Количество
                </td>
            </tr>
        </thead>
        @foreach (var elem in Model.Furniture)
        {
            <tr>
                <td>
                    @elem.Id
                </td>
                <td>
                    @elem.Name
                </td>
                <td>
                    @elem.Description
                </td>
                <td>
                    @elem.Material
                </td>
                <td>
                    @elem.Price
                </td>
                <td>
                    @elem.Count
                </td>
            </tr>
        }
    </table>
</div>
<div>
    <input type="submit" value="Добавить запись" onclick="changeAddVisibility()" />
    <input type="submit" value="Удалить запись" onclick="changeDeleteVisibility()" />
    <input type="submit" value="Изменить запись" onclick="changeUpdateVisibility()" />
</div>
<hr />
@ViewData["Message"]
<div>
    <div id="AddFurniture" style="display:none;">
        @{await Html.RenderPartialAsync("_AddFurniture");}
    </div>
    <div id="DeleteFurniture" style="display:none;">
        @{await Html.RenderPartialAsync("_DeleteFurniture");}
    </div>
    <div id="UpdateFurniture" style="display:none;">
        @{await Html.RenderPartialAsync("_UpdateFurniture");}
    </div>
</div>
