@model List<CourseProject.Models.Furniture>
@{
    ViewBag.Title = "Таблица мебели";
}

@ViewBag.Title
:
<div>
    <table border="1">
        <thead>
            <tr>
                <td>
                    Id
                </td>
                <td>
                    Название
                </td>
                <td>
                    Описание
                </td>
                <td>
                    Материал
                </td>
                <td>
                    Цена
                </td>
                <td>
                    Количество
                </td>
            </tr>
        </thead>
        @foreach (var elem in Model)
        {
            <tr>
                <td>
                    @elem.Id
                </td>
                <td>
                    @elem.Name
                </td>
                <td>
                    @elem.Description
                </td>
                <td>
                    @elem.Material
                </td>
                <td>
                    @elem.Price
                </td>
                <td>
                    @elem.Count
                </td>
            </tr>
        }
    </table>
</div>
