@model List<CourseProject.Models.OrderViewModel>
@{
    ViewBag.Title = "Таблица клиентов";
}

@ViewBag.Title
:
<div>
    <table border="1">
        <thead>
            <tr>
                <td>
                    Id
                </td>
                <td>
                    Название клиента
                </td>
                <td>
                    Название мебели
                </td>
                <td>
                    Кол-во мебели
                </td>
                <td>
                    Цена
                </td>
                <td>
                    Скидка
                </td>
                <td>
                    Выполнен?
                </td>
                <td>
                    ФИО сотрудника
                </td>
            </tr>
        </thead>
        @foreach (var elem in Model)
        {
            <tr>
                <td>
                    @elem.Id
                </td>
                <td>
                    @elem.ClientName
                </td>
                <td>
                    @elem.FurnitureName
                </td>
                <td>
                    @elem.FurnitureCount
                </td>
                <td>
                    @elem.Price
                </td>
                <td>
                    @elem.DiscountPercent
                    %
                </td>
                @if (elem.IsCompleted)
                {
                    <td>
                        Да
                    </td>
                }
                else
                {
                    <td>
                        Нет
                    </td>
                }
                <td>
                    @elem.EmployeeFIO
                </td>
            </tr>
        }
    </table>
</div>
