@model List<CourseProject.Models.WaybillViewModel>
@{
    ViewBag.Title = "Таблица накладных";
}

@ViewBag.Title
:
<div>
    <table border="1">
        <thead>
            <tr>
                <td>
                    Id
                </td>
                <td>
                    Номер поставщика
                </td>
                <td>
                    Название поставщика
                </td>
                <td>
                    Дата поставок
                </td>
                <td>
                    Материал
                </td>
                <td>
                    Стоимость
                </td>
                <td>
                    Вес
                </td>
                <td>
                    Название мебели
                </td>
                <td>
                    ФИО сотрудника
                </td>
            </tr>
        </thead>
        @foreach (var elem in Model)
        {
            <tr>
                <td>
                    @elem.Id
                </td>
                <td>
                    @elem.ProviderId
                </td>
                <td>
                    @elem.ProviderName
                </td>
                <td>
                    @elem.DateOfSupply
                </td>
                <td>
                    @elem.Material
                </td>
                <td>
                    @elem.Price
                </td>
                <td>
                    @elem.Weight
                </td>
                <td>
                    @elem.FurnitureName
                </td>
                <td>
                    @elem.EmployeeFIO
                </td>
            </tr>
        }
    </table>
</div>
