@model OrderIndexViewModel
@{
    ViewBag.Title = "Таблица заказов";
}
<script>
    function changeAddVisibility() {
        document.getElementById('DeleteOrder').style.display = "none";
        document.getElementById('UpdateOrder').style.display = "none";
        document.getElementById('AddOrder').style.display = "block";
    }
    function changeDeleteVisibility() {
        document.getElementById('DeleteOrder').style.display = "block";
        document.getElementById('UpdateOrder').style.display = "none";
        document.getElementById('AddOrder').style.display = "none";
    }
    function changeUpdateVisibility() {
        document.getElementById('DeleteOrder').style.display = "none";
        document.getElementById('UpdateOrder').style.display = "block";
        document.getElementById('AddOrder').style.display = "none";
    }
    function SetSession() {
        sessionStorage.setItem("clientName", $("#value1 option:selected").val());
        sessionStorage.setItem("furniture", $("#value2 option:selected").val());
    }
    function GetSession() {
        $("#value1").val(sessionStorage.getItem("clientName"));
        $("#value2").val(sessionStorage.getItem("furniture"));
    }
</script>

<body onbeforeunload="SetSession()" onload="GetSession()">
    <H1>@ViewBag.Title:</H1>
    <form method="get">
        <div>
            <label class="control-label">Название клиента:&nbsp;</label>
            <select name="clientName" id="value1" class="form-control">
                @foreach (var elem in Model.FilterClients)
                {
                    <option>@elem</option>
                }
            </select>
        </div>
        <div>
            <label class="control-label">Название мебели:&nbsp;</label>
            <select name="furniture" id="value2" class="form-control">
                @foreach (var elem in Model.FilterFurnitures)
                {
                    <option>@elem</option>
                }
            </select>
        </div>
        <br />
        <div>
            <input type="submit" style="border-color:black;" value="Фильтр" class="btn btn-default" />
        </div>
    </form>
    <br />
    <div>
        <table border="1">
            <thead>
                <tr>
                    <td>
                        Id
                    </td>
                    <td>
                        Название клиента
                    </td>
                    <td>
                        Название мебели
                    </td>
                    <td>
                        Кол-во мебели
                    </td>
                    <td>
                        Цена
                    </td>
                    <td>
                        Скидка
                    </td>
                    <td>
                        Выполнен?
                    </td>
                    <td>
                        ФИО сотрудника
                    </td>
                </tr>
            </thead>
            @foreach (var elem in Model.OrderViewModels)
            {
                <tr>
                    <td>
                        @elem.Id
                    </td>
                    <td>
                        @elem.ClientName
                    </td>
                    <td>
                        @elem.FurnitureName
                    </td>
                    <td>
                        @elem.FurnitureCount
                    </td>
                    <td>
                        @elem.Price
                    </td>
                    <td>
                        @elem.DiscountPercent
                        %
                    </td>
                    @if (elem.IsCompleted)
                    {
                        <td>
                            Да
                        </td>
                    }
                    else
                    {
                        <td>
                            Нет
                        </td>
                    }
                    <td>
                        @elem.EmployeeFIO
                    </td>
                </tr>
            }
        </table>
    </div>
    <br />
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           class="btn btn-outline-dark">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Назад
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           class="btn btn-outline-dark">
            Вперед
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
    <br />
    @if (User.IsInRole("Администратор") || User.IsInRole("Работник фабрики"))
    {
        <div>
            <input type="submit" value="Добавить запись" onclick="changeAddVisibility()" />
            <input type="submit" value="Удалить запись" onclick="changeDeleteVisibility()" />
            <input type="submit" value="Изменить запись" onclick="changeUpdateVisibility()" />
        </div>
        <hr />
        @ViewData["Message"]
        <div>
            <div id="AddOrder" style="display:none;">
                @{await Html.RenderPartialAsync("_AddOrder");}
            </div>
            <div id="DeleteOrder" style="display:none;">
                @{await Html.RenderPartialAsync("_DeleteOrder");}
            </div>
            <div id="UpdateOrder" style="display:none;">
                @{await Html.RenderPartialAsync("_UpdateOrder");}
            </div>
        </div>
    }
</body>